{% extends 'index.html' %}
{% load static %}
{% block blogdetail %}
    <div class="blogdetail">
        <div class="detail-title">
            <h3>{{ blog.title }}</h3>
        </div>
        <div class="article-author">
            <div class="portrait">
                <img src="{% static 'images/2259045-2986b9be86b01f63.jpg' %}" alt="">
            </div>
            <div class="userdetail">
                <h5>{{ user.username }}</h5>
                <div class="userlike">
                    <div class="meta-block">
                        <span>0</span>
                        <a href=""><span>关注></span></a>
                    </div>
                    <span class="line"></span>
                    <div class="meta-block">
                        <span>0</span>
                        <a href=""><span>粉丝></span></a>
                    </div>
                    <span class="line"></span>
                    <div class="meta-block">
                        <span>
                            {% if articleNum %}
                                {{ articleNum }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                        <a href=""><span>文章></span></a>
                    </div>
                    <span class="line"></span>
                    <div class="meta-block">
                        <span>
                            {% if words %}
                                {{ words }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                        <a href=""><span>字数></span></a>
                    </div>
                    <span class="line"></span>
                    <div class="meta-block">
                        <span>0</span>
                        <a href=""><span>收获喜欢></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-desc">
            <span>{{ blog.desc }}</span>
        </div>
        <div class="detail-content">
            {% autoescape off %}
                {{ blog.content }}
            {% endautoescape %}
        </div>
    </div>
    <script>
        $('.detail-content').html()
    </script>
{% endblock %}