{% extends 'SSO/base.html' %}
{% block register %}
    <div class="register w3layouts agileits">
        <h2>注 册</h2>
        <form action="{% url 'registerAction' %}" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="用户名" required="">
            <input type="text" name="email" placeholder="邮箱" required="">
            <input type="password" name="password" placeholder="密码" required="">
            <input type="text" name="phone" placeholder="手机号码" required="">
            <div class="send-button w3layouts agileits">
                <input type="submit" value="免费注册">
            </div>
        </form>
        <a href="{% url 'login' %}" style="display: inline-block; width: 100%; color: #ccc; text-align: center; ">已有账户，去登录！</a>
        <div class="clear"></div>
    </div>
{% endblock %}
